.texto {
    max-width: 1200px;
    margin: auto;
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 10px 10px 20px;
}

.texto h1 {
    font-size: 28px;
}

.texto p {
    margin: 20px 0;
    font-size: 17px;
}